@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Averia+Libre&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 80px;
}

body {
  font-family: "Lato", sans-serif;
  color: #6e6e6e;
  min-width: 320px;
}

.fb2022-copy {
  display: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #68d372;
}

input,
textarea {
  border-radius: 0px;
  color: #6e6e6e !important;
}

input:focus,
textarea:focus {
  outline: 0px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.cv-download {
  margin-top: -15px !important;
  margin-right: 85px !important;
}

.btn-success {
  background-color: #68d372;
  border-color: #68d372;
  border-radius: 0px;
  font-weight: 600;
}

.btn-success:hover {
  background-color: #4ea156;
}

.btn-outline-success {
  border-radius: 0px;
  color: white;
  font-weight: 600;
}

.btn-outline-success img {
  width: 10px;
}

.btn-outline-success:hover {
  background-color: #4ea156;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
  font-weight: 900;
}

.green {
  color: #68d372;
}

.white {
  color: white;
}

.navbar {
  position: fixed;
  z-index: 20;
  margin: 0 auto;
  padding: 30px 0;
  height: 85px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.8);
  background-color: #222222;
}

.navbar .navbar-brand {
  position: absolute;
  top: 0;
  background-color: #68d372;
  display: inline-block;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 20px 10px 0px 10px;
  font-size: 2em;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: 900;
}

.navbar li .nav-link {
  position: relative;
  display: inline-block;
  color: white;
  padding: 0px 30px !important;
  margin: 5px auto;
  margin-right: 20px;
}

.navbar li .nav-link:hover {
  color: #68d372;
}

.navbar li .active {
  color: #68d372;
}

.navbar .btn {
  position: relative;
  float: right;
  color: white;
  width: 150px;
}

.navbar .btn:hover {
  color: white;
}

.navbar .navbar-toggler {
  margin-left: auto;
}
#nav-icon {
  margin-top: -4px;
  width: 25px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#nav-icon span {
  display: inline-block;
  position: absolute;
  border-radius: 2px;
  height: 4px;
  width: 25px;
  background: #ffffff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 10px;
  background-color: #68d372;
}

#nav-icon span:nth-child(3) {
  top: 20px;
}

#nav-icon.open span:nth-child(1) {
  top: 10px;
  width: 30px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 10px;
  width: 30px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.navbar .navbar-toggler,
.navbar .navbar-toggler {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.navbar-collapse {
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 40px 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 21px;
  text-align: center;
  line-height: 32px;
  overflow: hidden;
}
.navbar-collapse .cv-download {
  display: none;
  font-size: 15px;
  color: white !important;
}
.collapse-bg {
  background-image: url("../img/collapse-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.navbar-collapse .nav-link {
  font-size: 20px;
  font-family: "Koulen", cursive;
  letter-spacing: 1px;
  color: #68d372 !important;
  border-radius: 20px;
  background: linear-gradient(145deg, #1f1f1f80, #24242480);
  box-shadow: 10px 10px 30px #1d1d1d50, -10px -10px 30px #27272750;
}
.loader {
  position: fixed;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  cursor: default;
  z-index: 10;
  opacity: 1;
  background-color: #222222; 
  animation: loader 1s ease-in 2.5s forwards;
  animation-fill-mode: forwards;
}
.loading-svg{
  width: 80px;
  animation: loader-disp 1s ease-out 2.5s forwards;
}
.loading-text{
  color: rgb(255, 255, 255);
  position: absolute;
  font-weight: 100;
  font-family: 'Averia Libre', cursive;
  font-size: 15px;
  width: 100%;
  animation: loader-disp 1s ease-out 2.5s forwards;
text-align: center;
  margin-top: 120px;
}
.page-content{
  animation: contentVisible 3.8s ease-in;
}
.section-title {
  color: #68d372;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 10px auto;
}

#intro {
  background-color: #222222;
  padding: 150px 0px 50px;
}
#intro .text {
  margin-top: -40px;
}
.typing-text {
  color: #ffffff;
  position: relative;
  display: inline;
}
.typing {
  position: relative;
  width: 100%;
  top: -30px !important;
}
#intro h1 {
  color: white;
}
.intro-animation {
  animation: zoomInDown;
  animation-duration: 2s;
  animation-delay: 2s;
}
#intro h1 .my-name {
  font-size: 1.8em;
}
#intro-p:hover {
  color: #68d372;
  display: inline-block;
  animation: rubberBand;
  animation-duration: 1s;
  transition: color 0.4s ease-in-out;
}
#intro .btn {
  width: 45%;
  margin-bottom: 20px;
  border-radius: 4px;
}
.intro-btns {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#intro p {
  margin-top: -10px !important;
  margin-bottom: 20px;
}
.intro-p-url {
  text-decoration: none;
  display: inline-block !important;
  color: #6e6e6e;
}
.intro-p-url:hover {
  cursor: pointer;
  color: #68d372 !important;
  text-decoration: underline;
  animation: rubberBand;
  animation-duration: 1s;
  transition: color 0.4s ease-in-out;
}
#intro a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  text-align: left;
  margin: auto;
}
.my-name {
  font-weight: 750;
}

#intro a img {
  margin-right: 10px;
}

#intro a:hover {
  color: white;
}

#intro .scroll {
  position: relative;
  display: flex;
  width: 130px;
  align-items: center;
  justify-content: center;
  color: #6e6e6e;
  margin: 10px auto;
  margin-bottom: 25px;
}
#intro .scroll:hover {
  color: #68d372;
  transition: color 0.5s ease-in-out;
  animation: flash;
  animation-duration: 1s;
}
#intro .scroll::before {
  content: "\f103";
  position: relative;
  margin-right: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
#intro .scroll::after {
  content: "\f103";
  position: relative;
  margin-left: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
#intro .img img {
  width: 100%;
  position: relative;
  border-radius: 4px;
  cursor: grab;
}

#about {
  padding-top: 50px;
  top: -60px;
  position: relative;
}

#about .left,
#about .right {
  padding: 40px 40px;
}

#about .left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding-bottom: 30px;
}

#about .left img {
  width: 30px;
}

#bio .bio {
  padding: 50px 0px;
}
#bio .img {
  padding: 0 50px;
}
#bio .img .bio-img {
  position: relative;
  height: 425px;
  width: auto;
  cursor: grab;
  background-image: url("../img/photo-bio.jpg");
  background-repeat: no-repeat;
  box-shadow: rgba(100, 100, 111, 1) 0px 7px 29px 0px;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  border-radius: 8px;
}
.js-tilt-glare {
  border-radius: 8px;
}
#bio .text {
  padding: 40px;
}

#skills {
  background-color: #222222;
  padding: 80px 0px;
}

#skills h1 {
  color: white;
}

#skills .skills-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 70px 0px;
}

#skills .skills-progress .skill-wrapper {
  height: 180px;
  width: 180px;
  float: left;
  margin: 15px;
  position: relative;
}

#skills .skills-progress .skill-wrapper .skill-name {
  color: white;
  position: absolute;
  font-size: 0.9rem;
  width: 100%;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#skills .skills-progress .skill-wrapper .progress {
  height: 100%;
  width: 100%;
  clip: rect(0, 180px, 180px, 90px);
  left: 0;
  position: absolute;
  top: 0;
  background-color: transparent;
}

#skills .skills-progress .skill-wrapper .progress .half-circle {
  height: 100%;
  width: 100%;
  border: 10px solid #68d372;
  border-radius: 50%;
  clip: rect(0, 90px, 180px, 0);
  left: 0;
  position: absolute;
  top: 0;
  z-index: 5;
}

#skills .skills-progress .skill-wrapper .shadow {
  height: 175px;
  width: 175px;
  border: 5px solid #6e6e6e;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#skills .skills-progress .skill-wrapper .label {
  color: white;
  font-size: 3.5rem;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#skills .skills-progress .skill-wrapper .label .smaller {
  font-weight: 600;
  font-size: 2rem;
}

#skills .skills-progress .skill-wrapper.progress-95 .progress {
  clip: rect(auto, auto, auto, auto);
}

#skills .skills-progress .skill-wrapper.progress-95 .progress .right-side {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#skills .skills-progress .skill-wrapper.progress-95 .progress .left-side {
  -webkit-transform: rotate(342deg);
  transform: rotate(342deg);
}

#skills .skills-progress .skill-wrapper.progress-75 .progress {
  clip: rect(auto, auto, auto, auto);
}

#skills .skills-progress .skill-wrapper.progress-75 .progress .right-side {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#skills .skills-progress .skill-wrapper.progress-75 .progress .left-side {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

#skills .skills-progress .skill-wrapper.progress-64 .progress {
  clip: rect(auto, auto, auto, auto);
}

#skills .skills-progress .skill-wrapper.progress-64 .progress .right-side {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#skills .skills-progress .skill-wrapper.progress-64 .progress .left-side {
  -webkit-transform: rotate(230deg);
  transform: rotate(230deg);
}

#skills .skills-progress .skill-wrapper.progress-85 .progress {
  clip: rect(auto, auto, auto, auto);
}

#skills .skills-progress .skill-wrapper.progress-85 .progress .right-side {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#skills .skills-progress .skill-wrapper.progress-85 .progress .left-side {
  -webkit-transform: rotate(252deg);
  transform: rotate(252deg);
}

#experience {
  padding: 50px 0px;
}

#experience .jobs {
  text-align: left;
  margin-top: 40px;
}

#experience .jobs p {
  margin-bottom: 0;
}

#experience .jobs .job-item {
  border-left: 2px solid #68d372;
  padding: 0px 40px 0px;
  padding-bottom: 20px;
  position: relative;
}

#experience .jobs .job-item .date,
#experience .jobs .job-item .company {
  color: black;
  font-weight: 600;
}
.Duties-Res {
  margin-top: -10px;
  margin-bottom: 20px !important;
  padding: 10px 0px;
  color: #68d372;
}
.duties-coll {
  margin: 0 auto;
}
.jobs li {
  list-style: none;
  padding: 5px 0px;
  margin-left: -30px;
}
.jobs li::before {
  content: "\f138";
  position: relative;
  margin-right: 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
#experience .jobs .job-item .date {
  padding-bottom: 20px;
}

#experience .jobs .job-item .date::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #68d372;
  display: block;
  position: absolute;
  left: 0px;
  top: 0.6rem;
}

#experience .jobs .job-item .date::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: white;
  border: 2px solid #68d372;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 0px;
  top: 0rem;
  -webkit-transform: translate(-50%, 25%);
  transform: translate(-50%, 25%);
}

#experience .jobs .job-item .position {
  font-weight: 600;
  color: #68d372;
  font-size: 1.3rem;
}

#experience .jobs .job-item .company {
  padding-bottom: 20px;
}

#experience .jobs .first {
  padding-top: 60px;
}
.first .duties-coll li {
  text-align: left;
}
#experience .jobs .first .date::before {
  top: 70px;
}

#experience .jobs .first .date::after {
  top: 60px;
}

#experience .jobs .fourth {
  padding-bottom: 60px;
}

#contact {
  background-color: #222222;
  padding: 50px 0px;
}

#contact #contact-form {
  text-align: right;
  padding: 50px 0px;
}

#contact #contact-form .form-group {
  text-align: left;
  margin-top: 20px;
}

#contact #contact-form button {
  margin-top: 40px;
  border-radius: 4px;
}

#contact #contact-form input,
#contact #contact-form textarea {
  background-color: transparent;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid #6e6e6e;
}

#contact .img {
  margin-top: 30px;
}

#contact .img img {
  width: 100%;
}

#contact h1 {
  color: white;
  font-weight: 900;
}

#contact .email,
#contact .phone {
  margin-top: 30px;
}

#contact .email p,
#contact .phone p {
  margin-bottom: 0.5rem !important;
}

#contact .social-media img {
  width: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#contact .social-media a img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

footer {
  background-color: #222222;
  padding-bottom: 1px;
  padding-top: 10px;
  text-align: center;
  font-size: 0.9em;
}

footer .copyright p a {
  color: rgba(255, 255, 255, 0.63);
}

footer .copyright p a:hover {
  color: #68d372;
}
#heart-icon {
  color: red;
}
.to-top {
  position: fixed;
  display: inline-block;
  bottom: 10px;
  opacity: 0;
  pointer-events: none;
  right: 10px;
  transition: opacity 1s;
  font-size: 30px;
}
.active-top {
  pointer-events: all;
  opacity: 1;
}

.active-top:hover {
  animation: scrollbtn 1s infinite;
}
.active-top:active {
  transform: scale(95%);
  animation: none;
}
.to-top i {
  color: #68d372;
}
@keyframes loader {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader-disp {
  to {
    opacity: 0;
  }
}
@keyframes contentVisible {
  0%{
    max-height: 0px;
    overflow: hidden;
  }
}
@keyframes scrollbtn {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: 15px;
  }
}
@media (max-width: 400px) {
  #intro p {
    margin-top: -10px !important;
    margin-bottom: 20px;
  }
  #intro .btn {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  .intro-btns {
    position: relative;
    display: inline;
    align-items: center;
    justify-content: center;
  }
  #bio .img .bio-img {
    position: relative;
    height: 280px;
    width: auto;
    background-image: url("../img/photo-bio.jpg");
    background-repeat: no-repeat;
    box-shadow: rgba(100, 100, 111, 1) 0px 7px 29px 0px;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    border-radius: 8px;
  }
  .duties-coll {
    width: 100% !important;
    margin-left: 0px !important;
  }
}
@media (min-width: 768px) {
  h1,
  .typing-text {
    font-size: 3rem;
  }
  .typing {
    position: relative;
    width: 100%;
    top: -10px;
    height: 50px;
  }
  .section-title::before {
    content: "";
    width: 2px;
    height: 120px;
    display: block;
    background-color: #68d372;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  #bio .section-title::before {
    display: none;
  }
  #intro .container {
    padding: 0px 40px;
  }
  #intro p {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  #intro .img {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
  }
  #bio .img .bio-img {
    position: relative;
    height: 425px;
    width: 80%;
    margin: 0px auto;
    background-image: url("../img/photo-bio.jpg");
    background-repeat: no-repeat;
    box-shadow: rgba(100, 100, 111, 1) 0px 7px 29px 0px;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    border-radius: 8px;
  }
  #about .section-title::before {
    width: 100px;
    height: 2px;
    top: 35px;
    left: -40px;
  }
  .about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 80px;
  }
  .about-wrapper .left {
    width: 40%;
  }
  .about-wrapper .right {
    width: 60%;
    position: relative;
  }
  .about-wrapper .right::before {
    content: "";
    width: 2px;
    height: 100px;
    display: block;
    background-color: #68d372;
    position: absolute;
    top: 150px;
    left: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .about-wrapper .left img {
    width: 40px !important;
  }
  #bio .section-title::before {
    width: 200px;
    height: 2px;
    left: -230px;
    top: 75%;
  }
  #bio .text {
    padding-left: 50px;
  }
  #bio .img .bio-img {
    margin-top: 30px;
    z-index: 5 !important;
  }
  #experience {
    padding-bottom: 0px;
    margin-bottom: -50px;
  }
  #experience .jobs .job-item {
    width: 50%;
    padding: 0px 70px;
  }
  #experience .jobs .job-item .date::before {
    width: 50px;
  }
  #experience .jobs .second,
  #experience .jobs .fourth {
    margin-left: auto;
  }
  #experience .jobs .first {
    padding-top: 60px;
  }
  #experience .jobs .first,
  #experience .jobs .third {
    margin-left: 2px;
    text-align: right;
    padding-left: 0;
    border-left: 0px;
    border-right: 2px solid #68d372;
  }
  #experience .jobs .first .date::before,
  #experience .jobs .third .date::before {
    left: 100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  #experience .jobs .first .date::after,
  #experience .jobs .third .date::after {
    left: 100%;
  }
  #experience .jobs .fourth {
    padding-bottom: 150px;
  }
  #contact {
    margin-top: 0px;
    padding-top: 80px;
  }
  #contact .row {
    position: relative;
  }
  #contact .form {
    padding-right: 80px;
  }
  #contact .contacts {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  #contact .contacts div {
    margin-top: 0;
  }
  #contact .contacts .social-media p {
    margin-bottom: 0.5rem;
  }
  #contact .contacts .social-media img {
    width: 20px;
  }
  .contact-img {
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .navbar {
    position: fixed;
    z-index: 20;
    margin: 0 auto;
    padding: 30px 0;
    background-color: #222222;
  }
  .navbar-collapse {
    backdrop-filter: none;
    box-shadow: none;
    border-radius: none;
    margin-top: 0px;
    text-align: center;
    line-height: 10px;
    overflow: hidden;
  }
  .collapse-bg {
    background-color: #222222;
    background-image: none;
    cursor: pointer;
  }
  .navbar-collapse .cv-download {
    display: inline-block;
    background-color: #68d372 !important;
    padding-top: 10px !important;
    margin-right: 50px !important;
    border-radius: 4px;
  }
  .navbar-collapse .nav-link {
    font-size: 18px;
    color: white !important;
    text-shadow: none;
    border-radius: 0px;
    background: #222222;
    box-shadow: none;
  }
  .navbar .navbar-brand {
    position: absolute;
    top: 0;
    background-color: #68d372;
    display: inline-block;
    padding: 20px 10px 0px 10px;
    font-size: 2em;
    color: white;
    font-weight: 900;
  }

  .navbar li .nav-link {
    position: relative;
    display: inline-block;
    color: white;
    padding: 15px 30px !important;
    margin: 0px;
  }

  .navbar li .nav-link:hover {
    color: #68d372 !important;
  }
  .js-scroll-trigger:hover {
    background-color: #68d37210 !important;
    border-radius: 4px;
  }
  .js-scroll-trigger {
    animation: rubberBand;
    animation-delay: 0.2s;
    animation-duration: 1s;
  }
  .js-scroll-trigger:active {
    transform: scale(95%);
    animation-delay: 0s !important;
    animation: none !important;
    animation-duration: 1s !important;
  }
  .navbar li .active {
    color: #68d372;
  }

  .navbar .btn {
    color: white;
    position: absolute;
    margin-right: 10px;
    right: 20px;
    top: 35px;
    margin: 0px;
    width: 150px;
  }

  .navbar .btn:hover {
    color: white;
  }

  .navbar .navbar-toggler {
    margin-right: -110px;
    margin-left: auto;
  }

  h1,
  .typing-text {
    font-size: 4rem;
  }
  .typing {
    position: relative;
    width: 100%;
    top: -20px;
    height: 120px;
  }
  #intro {
    padding-bottom: 0;
  }
  #intro .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #intro .text {
    margin-top: -40px;
    width: 45%;
  }
  .my-name {
    font-weight: 750;
  }
  #intro .img {
    margin-bottom: 0px;
    margin-top: -20px;
    margin-left: 120px;
    width: 60%;
  }
  #intro h1 {
    position: relative;
  }
  #intro p {
    margin-top: 40px !important;
    margin-bottom: 20px;
  }
  #intro .my-name::before {
    content: "";
    width: 122px;
    height: 2px;
    display: block;
    background-color: #68d372;
    position: absolute;
    top: 115px;
    left: -140px;
  }
  #about .section-title::before {
    width: 100px;
    height: 2px;
    position: absolute;
    top: 35px;
    float: left;
    left: -5%;
  }
  .about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 80px;
  }
  .about-wrapper .left {
    width: 50%;
    margin-left: 40px !important;
  }
  .about-wrapper .right {
    width: 50%;
    position: relative;
  }
  .about-wrapper .right::before {
    content: "";
    width: 2px;
    height: 100px;
    display: block;
    background-color: #68d372;
    position: absolute;
    top: 150px;
    left: -50px !important;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .about-wrapper .left img {
    width: 40px !important;
  }
  #bio {
    padding-bottom: 0;
  }
  .bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bio .img {
    width: 50%;
    margin-bottom: 50px;
  }
  #bio .img .bio-img {
    position: relative;
    height: 480px;
    width: auto;
    background-image: url("../img/photo-bio.jpg");
    background-repeat: no-repeat;
    box-shadow: rgba(100, 100, 111, 1) 0px 7px 29px 0px;
    background-size: cover;
    background-position-y: center;
    border-radius: 8px;
  }
  .bio .text {
    z-index: 5;
    width: 50%;
  }
  .bio .text .section-title {
    margin-bottom: 30px;
  }
  #skills .section-title::before {
    height: 150px;
  }
  #contact {
    padding-bottom: 0px;
    padding-top: 30px;
  }
  .contacts {
    max-width: 750px;
    margin: 0 auto;
  }
  footer {
    text-align: center;
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .navbar-nav {
    padding-left: 20% !important;
  }
  #intro p {
    margin-top: 30px !important;
    margin-bottom: 20px;
  }
  .typing {
    position: relative;
    width: 100%;
    top: -20px;
    height: 150px;
  }
  h1,
  .typing-text {
    font-size: 4.4rem;
  }
  #about .section-title::before {
    width: 120px;
    height: 2px;
    position: absolute;
    top: 35px;
    left: -100px;
  }
  .about-wrapper .left {
    width: 50%;
    padding-left: 0px !important;
  }
  .about-wrapper .left h2 {
    font-size: 3rem;
  }
  .about-wrapper .right {
    width: 50%;
    padding-left: 50px !important;
  }
  .about-wrapper .right::before {
    left: -40px;
  }
  #contact {
    padding-bottom: 0px;
    padding-top: 40px;
  }
  #contact .img {
    margin-top: 120px;
  }
  #contact .contacts {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 80px;
    position: relative;
    bottom: 100px;
  }
  .contacts {
    padding-top: 80px;
  }
  .contact-img {
    display: flex;
    margin-top: -80px;
  }
  .to-top {
    position: fixed;
    display: inline-block;
    bottom: 10px;
    opacity: 0;
    pointer-events: none;
    right: 20px;
    transition: opacity 1s;
    font-size: 30px;
  }
  .active-top {
    pointer-events: all;
    opacity: 1;
  }

  .active-top:hover {
    animation: scrollbtn 1s infinite;
  }
  .active-top:active {
    transform: scale(95%);
    animation: none;
  }
  .to-top i {
    color: #68d372;
  }
  @keyframes scrollbtn {
    0% {
      bottom: 10px;
    }
    100% {
      bottom: 15px;
    }
  }
}
/*# sourceMappingURL=main.css.map */
