@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 80px;
}

body {
  font-family: "Lato", sans-serif;
  color: #6e6e6e;
  min-width: 320px;
}

.fb2022-copy {
  display: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #68d372;
}

input,
textarea {
  border-radius: 0px;
  color: #6e6e6e !important;
}

input:focus,
textarea:focus {
  outline: 0px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.cv-download {
  margin-top: -15px !important;
  margin-right: 85px !important;
}

.btn-success {
  background-color: #68d372;
  border-color: #68d372;
  border-radius: 0px;
  font-weight: 600;
}

.btn-success:hover {
  background-color: #4ea156;
}

.btn-outline-success {
  border-radius: 0px;
  color: white;
  font-weight: 600;
}

.btn-outline-success img {
  width: 10px;
}

.btn-outline-success:hover {
  background-color: #4ea156;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
  font-weight: 900;
}

.green {
  color: #68d372;
}

.white {
  color: white;
}

.navbar {
  position: fixed;
  z-index: 20;
  margin: 0 auto;
  padding: 30px 0;
  height: 85px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.8);
  background-color: #222222;
}
.navbar-toggler {
  min-width: 50px !important;
}
.navbar .navbar-brand {
  position: absolute;
  top: 0;
  background-color: #68d372;
  display: inline-block;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 20px 10px 0px 10px;
  font-size: 2em;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: 900;
}

.navbar li .nav-link {
  position: relative;
  display: inline-block;
  color: white;
  padding: 0px 30px !important;
  margin: 5px auto;
  margin-right: 20px;
}

.navbar li .nav-link:hover {
  color: #68d372;
}

.navbar li .active {
  color: #68d372;
}

.navbar .btn {
  position: relative;
  float: right;
  color: white;
  width: 150px;
}

.navbar .btn:hover {
  color: white;
}

.navbar .navbar-toggler {
  color: white !important;
  margin-top: -5px !important;
  margin-left: auto;
}

.navbar .navbar-toggler,
.navbar .navbar-toggler {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.navbar-collapse {
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 40px 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 30px;
  text-align: center;
  line-height: 32px;
  overflow: hidden;
}
.navbar-collapse .cv-download {
  display: none;
  font-size: 15px;
  color: white !important;
}
.collapse-bg {
  background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 750 500' style='enable-background:new 0 0 750 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0{clip-path:url(%23SVGID_2_);fill:none;stroke:%23606060;stroke-miterlimit:10;} .st1{clip-path:url(%23SVGID_2_);fill:%23B8E3DB;} .st2{clip-path:url(%23SVGID_2_);fill:%23FFCF54;} .st3{clip-path:url(%23SVGID_2_);fill:%23CEF0E6;} .st4{clip-path:url(%23SVGID_2_);} .st5{fill:%2331346B;} .st6{clip-path:url(%23SVGID_2_);fill:%2331346B;} .st7{clip-path:url(%23SVGID_2_);fill:none;stroke:%23FFFFFF;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;} .st8{clip-path:url(%23SVGID_2_);fill:%23F7F3EA;} .st9{clip-path:url(%23SVGID_2_);fill:%23FFFFFF;} .st10{clip-path:url(%23SVGID_2_);fill:none;stroke:%2331346B;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;} %3C/style%3E%3Cg id='BACKGROUND'%3E%3C/g%3E%3Cg id='OBJECTS'%3E%3Cg%3E%3Cdefs%3E%3Crect id='SVGID_1_' width='750' height='500'/%3E%3C/defs%3E%3CclipPath id='SVGID_2_'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cline class='st0' x1='-49.2' y1='-77.2' x2='-86.4' y2='-77.2'/%3E%3Cpath class='st1' d='M249.2,0.9l26.2,26.2c18.2,18.2,47.7,18.2,65.8,0l15-15c3.2-3.2,8.3-3.2,11.5,0l0.1,0.1 c3.3,3.3,3.3,8.6,0,11.9c-5,5-39.8,39.8-47.7,47.7c-16.6,16.6-16.6,43.5,0,60.1v0c16.6,16.6,43.5,16.6,60.1,0L525.9-13.6l32,4.4 l-53,53c-23.1,23.1-23.1,60.6,0,83.7l0,0c23.1,23.1,60.6,23.1,83.7,0l81-81c3.5-3.5,9.2-3.5,12.7,0l0,0c3.5,3.5,3.5,9.2,0,12.7 L562.4,179.1c-13.1,13.1-13.1,34.2,0,47.3v0c13.1,13.1,34.2,13.1,47.3,0l83.1-83.1c3.8-3.8,9.9-3.8,13.6,0l0,0 c3.8,3.8,3.8,9.9,0,13.6l-1.5,1.5c-27.6,27.6-27.6,72.3,0,99.9l62,62V-39.1'/%3E%3Ccircle class='st2' cx='124.5' cy='0.2' r='64.9'/%3E%3Ccircle class='st2' cx='657.7' cy='500.1' r='40.7'/%3E%3Cpath class='st1' d='M232.2,43.6c-20.6,0-37.3,16.7-37.3,37.3s16.7,37.3,37.3,37.3c20.6,0,37.3-16.7,37.3-37.3 S252.7,43.6,232.2,43.6z M232.2,110.8c-16.6,0-30-13.4-30-30c0-16.5,13.4-30,30-30c16.5,0,30,13.4,30,30 C262.1,97.4,248.7,110.8,232.2,110.8z'/%3E%3Ccircle class='st2' cx='693' cy='294.5' r='17.6'/%3E%3Ccircle class='st2' cx='216.2' cy='333' r='8.4'/%3E%3Ccircle class='st2' cx='234.3' cy='314.9' r='8.4'/%3E%3Ccircle class='st2' cx='3.7' cy='202.5' r='17.6'/%3E%3Cpath class='st3' d='M-14.2,314.2l82-82c18.4-18.4,48.2-18.4,66.5,0l0,0c18.4,18.4,18.4,48.2,0,66.5L97,336.1 c-8.1,8.1-8.1,21.1,0,29.2l0,0c8.1,8.1,21.1,8.1,29.2,0l8.1-8.1c16.6-16.6,43.5-16.6,60.1,0l0,0c16.6,16.6,16.6,43.5,0,60.1 l-33.3,33.3c-3.6,3.6-3.6,9.4,0,13v0c3.6,3.6,9.4,3.6,13,0l81.2-81.2c14.3-14.3,37.6-14.3,51.9,0v0c14.3,14.3,14.3,37.6,0,51.9 l-21.9,21.9c-3.1,3.1-3.1,8.2,0,11.4v0c3.1,3.1,8.2,3.1,11.4,0l1.8-1.8c38.4-38.4,100.8-38.4,139.2,0l37.5,37.5h-607.9 C-132.7,503.3-6.9,321.5-14.2,314.2z'/%3E%3Cg class='st4'%3E%3Cpath class='st5' d='M585.1,409.5L585.1,409.5c1.8-1.8,4.6-1.8,6.4,0L605,423c1.8,1.8,1.8,4.6,0,6.4l0,0c-1.8,1.8-4.6,1.8-6.4,0 l-13.6-13.6C583.3,414.1,583.3,411.2,585.1,409.5z'/%3E%3Cpath class='st5' d='M605,409.5L605,409.5c1.8,1.8,1.8,4.6,0,6.4l-13.6,13.6c-1.8,1.8-4.6,1.8-6.4,0l0,0c-1.8-1.8-1.8-4.6,0-6.4 l13.6-13.6C600.4,407.7,603.2,407.7,605,409.5z'/%3E%3C/g%3E%3Cg class='st4'%3E%3Cpath class='st5' d='M207,194.2L207,194.2c1.1-1.1,3-1.1,4.1,0l8.8,8.8c1.1,1.1,1.1,3,0,4.1l0,0c-1.1,1.1-3,1.1-4.1,0l-8.8-8.8 C205.9,197.2,205.9,195.3,207,194.2z'/%3E%3Cpath class='st5' d='M220,194.2L220,194.2c1.1,1.1,1.1,3,0,4.1l-8.8,8.8c-1.1,1.1-3,1.1-4.1,0l0,0c-1.1-1.1-1.1-3,0-4.1l8.8-8.8 C217,193,218.8,193,220,194.2z'/%3E%3C/g%3E%3Ccircle class='st6' cx='400.4' cy='112' r='19.1'/%3E%3Ccircle class='st6' cx='-26.8' cy='575.7' r='7.5'/%3E%3Ccircle class='st6' cx='55.2' cy='103.9' r='10.6'/%3E%3Cg class='st4'%3E%3Ccircle class='st5' cx='495.1' cy='165.6' r='3.2'/%3E%3Ccircle class='st5' cx='495.1' cy='182.1' r='3.2'/%3E%3Ccircle class='st5' cx='511.2' cy='165.6' r='3.2'/%3E%3Ccircle class='st5' cx='511.2' cy='182.1' r='3.2'/%3E%3C/g%3E%3Cg class='st4'%3E%3Cg%3E%3Ccircle class='st5' cx='45.7' cy='135.9' r='3.2'/%3E%3Ccircle class='st5' cx='45.7' cy='152.4' r='3.2'/%3E%3Ccircle class='st5' cx='61.7' cy='135.9' r='3.2'/%3E%3Ccircle class='st5' cx='61.7' cy='152.4' r='3.2'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st5' cx='13.2' cy='135.9' r='3.2'/%3E%3Ccircle class='st5' cx='13.2' cy='152.4' r='3.2'/%3E%3Ccircle class='st5' cx='29.2' cy='135.9' r='3.2'/%3E%3Ccircle class='st5' cx='29.2' cy='152.4' r='3.2'/%3E%3C/g%3E%3C/g%3E%3Cg class='st4'%3E%3Cg%3E%3Cg%3E%3Ccircle class='st5' cx='656.4' cy='411.1' r='3.2'/%3E%3Ccircle class='st5' cx='656.4' cy='427.6' r='3.2'/%3E%3Ccircle class='st5' cx='672.4' cy='411.1' r='3.2'/%3E%3Ccircle class='st5' cx='672.4' cy='427.6' r='3.2'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st5' cx='623.9' cy='411.1' r='3.2'/%3E%3Ccircle class='st5' cx='623.9' cy='427.6' r='3.2'/%3E%3Ccircle class='st5' cx='639.9' cy='411.1' r='3.2'/%3E%3Ccircle class='st5' cx='639.9' cy='427.6' r='3.2'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Ccircle class='st5' cx='721.3' cy='411.1' r='3.2'/%3E%3Ccircle class='st5' cx='721.3' cy='427.6' r='3.2'/%3E%3Ccircle class='st5' cx='737.4' cy='411.1' r='3.2'/%3E%3Ccircle class='st5' cx='737.4' cy='427.6' r='3.2'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st5' cx='688.8' cy='411.1' r='3.2'/%3E%3Ccircle class='st5' cx='688.8' cy='427.6' r='3.2'/%3E%3Ccircle class='st5' cx='704.9' cy='411.1' r='3.2'/%3E%3Ccircle class='st5' cx='704.9' cy='427.6' r='3.2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Ccircle class='st6' cx='232.5' cy='404.4' r='7.8'/%3E%3Ccircle class='st6' cx='652.4' cy='184.4' r='7.8'/%3E%3Cline class='st7' x1='645.9' y1='135.6' x2='773.1' y2='8.4'/%3E%3Cline class='st7' x1='418.6' y1='57.6' x2='485.2' y2='-9'/%3E%3Cline class='st7' x1='-13.5' y1='417' x2='115.8' y2='287.8'/%3E%3Cline class='st7' x1='127.1' y1='575.5' x2='242.9' y2='459.6'/%3E%3Cline class='st7' x1='-77' y1='443.9' x2='38.9' y2='328.1'/%3E%3Ccircle class='st3' cx='163.6' cy='200.2' r='15.7'/%3E%3Ccircle class='st1' cx='456.1' cy='120.2' r='8.3'/%3E%3Ccircle class='st8' cx='720.8' cy='125.2' r='8.3'/%3E%3Ccircle class='st9' cx='73.7' cy='392.1' r='20.5'/%3E%3Cpath class='st1' d='M482.4,430.3c-38.6,0-70,31.4-70,70c0,38.6,31.4,70,70,70s70-31.4,70-70C552.4,461.7,521,430.3,482.4,430.3z M482.4,556.4c-31,0-56.2-25.1-56.2-56.2c0-31,25.1-56.2,56.2-56.2c31,0,56.2,25.1,56.2,56.2C538.6,531.3,513.4,556.4,482.4,556.4 z'/%3E%3Cpath class='st1' d='M30.4,507.3c1.4-0.5,54.9-54.5,75.3-75.2c4.3-4.4,11.4-4.4,15.7,0l0,0c4.3,4.3,4.3,11.4,0,15.7l-16.8,16.8 c-2.2,2.2-2.2,5.7,0,7.9h0c2.2,2.2,5.7,2.2,7.9,0l7-7c4.8-4.8,12.5-4.8,17.2,0h0c4.8,4.8,4.8,12.5,0,17.2h0c-2,2-2,5.3,0,7.3 l19.7,19.7H28.6'/%3E%3Cpath class='st3' d='M630.9-9.2L570,51.7c-5.7,5.7-5.7,14.8,0,20.5l0,0c5.7,5.7,14.8,5.7,20.5,0L623,39.6c1.9-1.9,5.1-1.9,7,0l0,0 c1.9,1.9,1.9,5.1,0,7L619,57.7c-3.1,3.1-3.1,8,0,11.1l0,0c3.1,3.1,8,3.1,11.1,0L659.9,39c6.7-6.7,16.8-8,24.7-3.8 c1.9,1,3.6,2.2,5.2,3.8l0.8,0.8l58-58C748.7-18.3,630.9-9.9,630.9-9.2z'/%3E%3Cline class='st10' x1='299.2' y1='515.6' x2='443.9' y2='370.9'/%3E%3Cline class='st10' x1='-92.1' y1='594.1' x2='52.6' y2='449.4'/%3E%3Cline class='st10' x1='465' y1='-40.4' x2='347.8' y2='76.7'/%3E%3Cline class='st10' x1='222.5' y1='92.5' x2='193.1' y2='121.9'/%3E%3Cline class='st10' x1='390.7' y1='456.2' x2='418.9' y2='428'/%3E%3Cpath class='st3' d='M694.4,43.4l-4.6-4.5c0,0,49.3-55.7,50.4-56.9c1.2-1.2,35.5,3.7,35.5,3.7L721,42.9 C713.8,50.4,701.9,50.7,694.4,43.4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.navbar-collapse .nav-link {
  font-size: 20px;
  font-family: "Koulen", cursive;
  letter-spacing: 1px;
  color: #68d372 !important;
  border-radius: 20px;
  background: linear-gradient(145deg, #1f1f1f80, #24242480);
  box-shadow: 10px 10px 30px #1d1d1d50, -10px -10px 30px #27272750;
}
.section-title {
  color: #68d372;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 10px auto;
}

#intro {
  background-color: #222222;
  padding: 150px 0px 50px;
}
#intro .text {
  margin-top: -40px;
}
.typing-text {
  color: #ffffff;
  position: relative;
  display: inline;
}
.typing {
  position: relative;
  width: 100%;
  top: -30px !important;
}
#intro h1 {
  color: white;
}
.intro-animation {
  animation: zoomInDown;
  animation-duration: 2s;
  animation-delay: 0.2s;
}
#intro h1 .my-name {
  font-size: 1.8em;
}
#intro-p:hover {
  color: #68d372;
  display: inline-block;
  animation: rubberBand;
  animation-duration: 1s;
  transition: color 0.4s ease-in-out;
}
#intro .btn {
  width: 45%;
  margin-bottom: 20px;
  border-radius: 4px;
}
.intro-btns {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#intro p {
  margin-top: 0px !important;
  margin-bottom: 20px;
}
.intro-p-url {
  text-decoration: none;
  display: inline-block !important;
  color: #6e6e6e;
}
.intro-p-url:hover {
  cursor: pointer;
  color: #68d372 !important;
  text-decoration: underline;
  animation: rubberBand;
  animation-duration: 1s;
  transition: color 0.4s ease-in-out;
}
#intro a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  text-align: left;
  margin: auto;
}
.my-name {
  font-weight: 750;
}

#intro a img {
  margin-right: 10px;
}

#intro a:hover {
  color: white;
}

#intro .scroll {
  position: relative;
  display: flex;
  width: 130px;
  align-items: center;
  justify-content: center;
  color: #6e6e6e;
  margin: 10px auto;
  margin-bottom: 25px;
}
#intro .scroll:hover {
  color: #68d372;
  transition: color 0.5s ease-in-out;
  animation: flash;
  animation-duration: 1s;
}
#intro .scroll::before {
  content: "\f103";
  position: relative;
  margin-right: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
#intro .scroll::after {
  content: "\f103";
  position: relative;
  margin-left: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
#intro .img img {
  width: 100%;
  position: relative;
  border-radius: 4px;
}

#about {
  padding-top: 50px;
  top: -60px;
  position: relative;
}

#about .left,
#about .right {
  padding: 40px 40px;
}

#about .left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding-bottom: 30px;
}

#about .left img {
  width: 30px;
}

#bio .bio {
  padding: 0;
}

#bio .img {
  padding: 0px 50px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

#bio .img img {
  width: 100%;
  border-radius: 8px;
}

#bio .text {
  padding: 40px;
}

#skills {
  background-color: #222222;
  padding: 80px 0px;
}

#skills h1 {
  color: white;
}

#skills .skills-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 70px 0px;
}

#skills .skills-progress .skill-wrapper {
  height: 180px;
  width: 180px;
  float: left;
  margin: 15px;
  position: relative;
}

#skills .skills-progress .skill-wrapper .skill-name {
  color: white;
  position: absolute;
  font-size: 0.9rem;
  width: 100%;
  bottom: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#skills .skills-progress .skill-wrapper .progress {
  height: 100%;
  width: 100%;
  clip: rect(0, 180px, 180px, 90px);
  left: 0;
  position: absolute;
  top: 0;
  background-color: transparent;
}

#skills .skills-progress .skill-wrapper .progress .half-circle {
  height: 100%;
  width: 100%;
  border: 10px solid #68d372;
  border-radius: 50%;
  clip: rect(0, 90px, 180px, 0);
  left: 0;
  position: absolute;
  top: 0;
  z-index: 5;
}

#skills .skills-progress .skill-wrapper .shadow {
  height: 175px;
  width: 175px;
  border: 5px solid #6e6e6e;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#skills .skills-progress .skill-wrapper .label {
  color: white;
  font-size: 3.5rem;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#skills .skills-progress .skill-wrapper .label .smaller {
  font-weight: 600;
  font-size: 2rem;
}

#skills .skills-progress .skill-wrapper.progress-95 .progress {
  clip: rect(auto, auto, auto, auto);
}

#skills .skills-progress .skill-wrapper.progress-95 .progress .right-side {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#skills .skills-progress .skill-wrapper.progress-95 .progress .left-side {
  -webkit-transform: rotate(342deg);
  transform: rotate(342deg);
}

#skills .skills-progress .skill-wrapper.progress-75 .progress {
  clip: rect(auto, auto, auto, auto);
}

#skills .skills-progress .skill-wrapper.progress-75 .progress .right-side {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#skills .skills-progress .skill-wrapper.progress-75 .progress .left-side {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

#skills .skills-progress .skill-wrapper.progress-64 .progress {
  clip: rect(auto, auto, auto, auto);
}

#skills .skills-progress .skill-wrapper.progress-64 .progress .right-side {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#skills .skills-progress .skill-wrapper.progress-64 .progress .left-side {
  -webkit-transform: rotate(230deg);
  transform: rotate(230deg);
}

#skills .skills-progress .skill-wrapper.progress-85 .progress {
  clip: rect(auto, auto, auto, auto);
}

#skills .skills-progress .skill-wrapper.progress-85 .progress .right-side {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#skills .skills-progress .skill-wrapper.progress-85 .progress .left-side {
  -webkit-transform: rotate(306deg);
  transform: rotate(306deg);
}

#experience {
  padding: 50px 0px;
}

#experience .jobs {
  text-align: left;
  margin-top: 40px;
}

#experience .jobs p {
  margin-bottom: 0;
}

#experience .jobs .job-item {
  border-left: 2px solid #68d372;
  padding: 0px 40px 0px;
  padding-bottom: 20px;
  position: relative;
}

#experience .jobs .job-item .date,
#experience .jobs .job-item .company {
  color: black;
  font-weight: 600;
}

#experience .jobs .job-item .date {
  padding-bottom: 20px;
}

#experience .jobs .job-item .date::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #68d372;
  display: block;
  position: absolute;
  left: 0px;
  top: 0.6rem;
}

#experience .jobs .job-item .date::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: white;
  border: 2px solid #68d372;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 0px;
  top: 0rem;
  -webkit-transform: translate(-50%, 25%);
  transform: translate(-50%, 25%);
}

#experience .jobs .job-item .position {
  font-weight: 600;
  color: #68d372;
  font-size: 1.3rem;
}

#experience .jobs .job-item .company {
  padding-bottom: 20px;
}

#experience .jobs .first {
  padding-top: 60px;
}

#experience .jobs .first .date::before {
  top: 70px;
}

#experience .jobs .first .date::after {
  top: 60px;
}

#experience .jobs .fourth {
  padding-bottom: 60px;
}

#contact {
  background-color: #222222;
  padding: 50px 0px;
}

#contact #contact-form {
  text-align: right;
  padding: 50px 0px;
}

#contact #contact-form .form-group {
  text-align: left;
  margin-top: 20px;
}

#contact #contact-form button {
  margin-top: 40px;
}

#contact #contact-form input,
#contact #contact-form textarea {
  background-color: transparent;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid #6e6e6e;
}

#contact .img {
  margin-top: 30px;
}

#contact .img img {
  width: 100%;
}

#contact h1 {
  color: white;
  font-weight: 900;
}

#contact .email,
#contact .phone {
  margin-top: 30px;
}

#contact .email p,
#contact .phone p {
  margin-bottom: 0.5rem !important;
}

#contact .social-media img {
  width: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#contact .social-media a img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

footer {
  background-color: #222222;
  padding-bottom: 1px;
  padding-top: 10px;
  text-align: center;
  font-size: 0.9em;
}

footer .copyright p a {
  color: rgba(255, 255, 255, 0.63);
}

footer .copyright p a:hover {
  color: #68d372;
}
#heart-icon {
  color: red;
}
.to-top {
  position: fixed;
  display: inline-block;
  bottom: 10px;
  opacity: 0;
  pointer-events: none;
  right: 10px;
  transition: opacity 1s;
  font-size: 30px;
}
.active-top {
  pointer-events: all;
  opacity: 1;
}

.active-top:hover {
  animation: scrollbtn 1s infinite;
}
.active-top:active {
  transform: scale(95%);
  animation: none;
}
.to-top i {
  color: #68d372;
}
@keyframes scrollbtn {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: 15px;
  }
}
@media (max-width: 400px) {
  #intro .btn {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  .intro-btns {
    position: relative;
    display: inline;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  h1,
  .typing-text {
    font-size: 3rem;
  }
  .typing {
    position: relative;
    width: 100%;
    top: -10px;
    height: 50px;
  }
  .section-title::before {
    content: "";
    width: 2px;
    height: 120px;
    display: block;
    background-color: #68d372;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  #bio .section-title::before {
    display: none;
  }
  #intro .container {
    padding: 0px 40px;
  }
  #intro p {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  #intro .img {
    width: 100%;
    margin: 0 auto;
  }
  #about .section-title::before {
    width: 100px;
    height: 2px;
    top: 35px;
    left: -40px;
  }
  .about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 80px;
  }
  .about-wrapper .left {
    width: 40%;
  }
  .about-wrapper .right {
    width: 60%;
    position: relative;
  }
  .about-wrapper .right::before {
    content: "";
    width: 2px;
    height: 100px;
    display: block;
    background-color: #68d372;
    position: absolute;
    top: 150px;
    left: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .about-wrapper .left img {
    width: 40px !important;
  }
  #bio .section-title::before {
    width: 200px;
    height: 2px;
    left: -230px;
    top: 75%;
  }
  #bio .text {
    padding-left: 50px;
  }
  #bio .img {
    margin-top: 30px;
    z-index: 5 !important;
  }
  #experience {
    padding-bottom: 0px;
    margin-bottom: -50px;
  }
  #experience .jobs .job-item {
    width: 50%;
    padding: 0px 70px;
  }
  #experience .jobs .job-item .date::before {
    width: 50px;
  }
  #experience .jobs .second,
  #experience .jobs .fourth {
    margin-left: auto;
  }
  #experience .jobs .first {
    padding-top: 60px;
  }
  #experience .jobs .first,
  #experience .jobs .third {
    margin-left: 2px;
    text-align: right;
    padding-left: 0;
    border-left: 0px;
    border-right: 2px solid #68d372;
  }
  #experience .jobs .first .date::before,
  #experience .jobs .third .date::before {
    left: 100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  #experience .jobs .first .date::after,
  #experience .jobs .third .date::after {
    left: 100%;
  }
  #experience .jobs .fourth {
    padding-bottom: 150px;
  }
  #contact {
    margin-top: 0px;
    padding-top: 80px;
  }
  #contact .row {
    position: relative;
  }
  #contact .form {
    padding-right: 80px;
  }
  #contact .contacts {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  #contact .contacts div {
    margin-top: 0;
  }
  #contact .contacts .social-media p {
    margin-bottom: 0.5rem;
  }
  #contact .contacts .social-media img {
    width: 20px;
  }
  .contact-img {
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .navbar {
    position: fixed;
    z-index: 20;
    margin: 0 auto;
    padding: 30px 0;
    background-color: #222222;
  }
  .navbar-collapse {
    backdrop-filter: none;
    box-shadow: none;
    border-radius: none;
    margin-top: 0px;
    text-align: center;
    line-height: 10px;
    overflow: hidden;
  }
  .collapse-bg {
    background-color: #222222;
    background-image: none;
    cursor: pointer;
  }
  .navbar-collapse .cv-download {
    display: inline-block;
    background-color: #68d372 !important;
    padding-top: 10px !important;
    margin-right: 50px !important;
    border-radius: 4px;
  }
  .navbar-collapse .nav-link {
    font-size: 18px;
    color: white !important;
    text-shadow: none;
    border-radius: 0px;
    background: #222222;
    box-shadow: none;
  }
  .navbar .navbar-brand {
    position: absolute;
    top: 0;
    background-color: #68d372;
    display: inline-block;
    padding: 20px 10px 0px 10px;
    font-size: 2em;
    color: white;
    font-weight: 900;
  }

  .navbar li .nav-link {
    position: relative;
    display: inline-block;
    color: white;
    padding: 15px 30px !important;
    margin: 0px;
  }

  .navbar li .nav-link:hover {
    color: #68d372 !important;
  }

  .navbar li .active {
    color: #68d372;
  }

  .navbar .btn {
    color: white;
    position: absolute;
    margin-right: 10px;
    right: 20px;
    top: 35px;
    margin: 0px;
    width: 150px;
  }

  .navbar .btn:hover {
    color: white;
  }

  .navbar .navbar-toggler {
    color: white !important;
    margin-right: -110px;
    margin-left: auto;
  }

  .navbar .navbar-toggler:focus {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }
  h1,
  .typing-text {
    font-size: 4rem;
  }
  .typing {
    position: relative;
    width: 100%;
    top: -20px;
    height: 120px;
  }
  #intro {
    padding-bottom: 0;
  }
  #intro .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #intro .text {
    margin-top: -40px;
    width: 45%;
  }
  .my-name {
    font-weight: 750;
  }
  #intro .img {
    margin-bottom: 0px;
    margin-top: -20px;
    margin-left: 120px;
    width: 60%;
  }
  #intro h1 {
    position: relative;
  }
  #intro p {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  #intro .my-name::before {
    content: "";
    width: 122px;
    height: 2px;
    display: block;
    background-color: #68d372;
    position: absolute;
    top: 115px;
    left: -140px;
  }
  #about .section-title::before {
    width: 100px;
    height: 2px;
    position: absolute;
    top: 35px;
    float: left;
    left: -5%;
  }
  .about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 80px;
  }
  .about-wrapper .left {
    width: 50%;
    margin-left: 40px !important;
  }
  .about-wrapper .right {
    width: 50%;
    position: relative;
  }
  .about-wrapper .right::before {
    content: "";
    width: 2px;
    height: 100px;
    display: block;
    background-color: #68d372;
    position: absolute;
    top: 150px;
    left: -50px !important;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .about-wrapper .left img {
    width: 40px !important;
  }
  #bio {
    padding-bottom: 0;
  }
  .bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bio .img {
    width: 50%;
    margin-bottom: 50px;
  }
  .bio .text {
    z-index: 5;
    width: 50%;
  }
  .bio .text .section-title {
    margin-bottom: 30px;
  }
  #skills .section-title::before {
    height: 150px;
  }
  #contact {
    padding-bottom: 0px;
    padding-top: 30px;
  }
  .contacts {
    max-width: 750px;
    margin: 0 auto;
  }
  footer {
    text-align: center;
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .navbar-nav {
    padding-left: 20% !important;
  }
  #intro p {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .typing {
    position: relative;
    width: 100%;
    top: -20px;
    height: 150px;
  }
  h1,
  .typing-text {
    font-size: 4.4rem;
  }
  #about .section-title::before {
    width: 120px;
    height: 2px;
    position: absolute;
    top: 35px;
    left: -100px;
  }
  .about-wrapper .left {
    width: 50%;
    padding-left: 0px !important;
  }
  .about-wrapper .left h2 {
    font-size: 3rem;
  }
  .about-wrapper .right {
    width: 50%;
    padding-left: 50px !important;
  }
  .about-wrapper .right::before {
    left: -40px;
  }
  #contact {
    padding-bottom: 0px;
    padding-top: 40px;
  }
  #contact .img {
    margin-top: 120px;
  }
  #contact .contacts {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 80px;
    position: relative;
    bottom: 100px;
  }
  .contacts {
    padding-top: 80px;
  }
  .contact-img {
    display: flex;
    margin-top: -80px;
  }
  .to-top {
    position: fixed;
    display: inline-block;
    bottom: 10px;
    opacity: 0;
    pointer-events: none;
    right: 20px;
    transition: opacity 1s;
    font-size: 30px;
  }
  .active-top {
    pointer-events: all;
    opacity: 1;
  }

  .active-top:hover {
    animation: scrollbtn 1s infinite;
  }
  .active-top:active {
    transform: scale(95%);
    animation: none;
  }
  .to-top i {
    color: #68d372;
  }
  @keyframes scrollbtn {
    0% {
      bottom: 10px;
    }
    100% {
      bottom: 15px;
    }
  }
}
/*# sourceMappingURL=main.css.map */
