@import url("https://fonts.googleapis.com/css2?family=Codystar&family=Fredoka+One&family=MuseoModerno&family=Nosifer&display=swap");
* {
  background-color: antiquewhite;
  padding: 0;
  margin: 0;
  font-family: Nosifer;
}

.container {
  border: 10px solid #333;
  border-radius: 5px;
  padding: 0%;
  margin: 0px;
  width: 1278px;
  height: 718px;
  margin-top: 06px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#gameCanvas {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  outline: none;
  border: none;
}
